<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">This site, like the Makerspace itself, is a work in progress.   Just like our physical space, there is clear signs of construction and modification.  Please bear with us.  We are working as both a Makerspace and a Co-working facility.</h3>
		    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Makerspaces</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A Makerspace is a community run space where people can gather to create, collaborate and learn.  We hope the Staunton Makerspace will grow to support collaboration across boundaires of science and art, technlogy and craft, to invent novel objects and works of art.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Co-Working</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Are you telecommuting to work, or running a small businesses out of your house?  Co-working locations like the Staunton Makerspace offer a collegiate working environment that provides shared resources (such as high speed internet and an espresso machine) in a clean open space that offers an office like atmosphere that can make your day a little brighter and friendlier. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Prices</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">You can become a member for as little as $50 per month, with no long term obligation. We have a variety of levels of membership to meet a variety of needs and interests.  Please check out our <a href="https://docs.google.com/document/d/1wc9ezHYMJge22faghzceA_vD9JmLjFcEHpuapAzuDDY/pub">Membership Levels / Price List</a> for more information.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Hours / Location</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We are located at 222 S. Washington St. Just off of Middlebrook Avenue as you head out of Downtown Staunton.  Visitors are welcome from 9 to 5 Monday through Friday.  We recommend you call / text us at 540-324-9427, or email Dan@StauntonMakerspace.com to schedule a time for a tour.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
