<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">From the ashes, we take flight</h2>
                    <p>On February 28th, a fire swept through the Staunton Makerspace.  It’s the day we lost almost all our equipment, and also the day that we learned our most important lesson.</p>
                    <p><i>A Makerspace is neither a space, nor a collection of tools. It is a movement, and it is made of the most extraordinary of makers.</i></p>
                    <p>We are watching, with awe, a mass mobilization. Mechanics, musicians, writers, developers, artists, inventors, programmers and more are rebuilding. Here is what we know so far:</p>
                    <ul>
                      <li>The Staunton Makerspace will reopen one week from the date of the fire. We are now finalizing plans for our new, transitional home in downtown Staunton, with plans to announce the location in the new few days.</li>
                      <li>Volunteer salvage and relaunch teams are forming to save what existing equipment we can, and to evaluate and acquire replacement equipment for what we cannot save.</li>
                      <li>This week, we are buying two a 3D printer for immediate installation in our transition location. We are investigating replacement options for our laser cutters. We are actively seeking donations for woodworking, ceramics, electronics, and related equipment.</li>
                      <li>Our new launch will occur on Tuesday, March 7th, when we resume the RC6 workshop for students, collaboratively building remote controlled airplanes designed by makerspace members.</li>
                      <li>We are moving forward with the <a href="https://www.facebook.com/events/265148350580773/">Arts & Artisan Maker Faire</a>, still scheduled for Saturday March 25th. We invite you to interactive displays of makerspace inspired art, and now also to an open house introduction to our new location. <a href="https://www.eventbrite.com/e/the-art-of-air-kite-making-for-kids-and-the-young-at-heart-tickets-32133656632?aff=ehomecard">The Art of Air: Kitemaking for the Young and the Young at Heart</a> will also run as scheduled on March 22 and 23.</li>
                    </ul>
                    <p>As we move forward, we do so with one clear commitment:  Our rebuild will be maker-driven and community-inspired. It will move at the speed of volunteers, supporters, and friends. We will remember to enjoy the journey of making our new home, with all of the creativity, play, and ingenuity that entails. We will build back better, because we will build back together.</p>
                    <p>All we lost was stuff.  Our makers are everything.</p>
                    <hr>
                    <h2 class="section-heading">ASKING FOR ASSISTANCE</h2>
                    <p>As we work to rebuild, we are seeking help and assistance in all of the following ways:</p>
                    <h3>Tools!</h3>
                    <p>We love making new homes for tools that are gently used, long-loved, in working condition and of all sizes. If you have woodworking, artistry, electronics, or other equipment you’d like to consider donating, please let us know. Contact <a href="mailto:support@stauntonmakerspace.com">support @ stauntonmakerspace . com</a> to learn more.</p>
                    <h3>Time and Talent</h3>
                    <p>Time and talent are some of the most amazing gifts the Makerspace receives. From cleanup after the fire, to the sorting and salvaging of burned equipment, helping us rebuild, even teaching workshops….we’d love to learn about your skills. Contact <a href="mailto:support@stauntonmakerspace.com">support @ stauntonmakerspace . com</a> to learn more.</p>
                    <h3>Dollars</h3>
                    <p>Dollar donations fund new equipment, clean up, rebuilds, moving costs and more. We cannot provide tax deductions, but we do provide enduring thanks and a community of support. Contact <a href="mailto:support@stauntonmakerspace.com">support @ stauntonmakerspace . com</a> to learn more.</p>
                </div>
            </div>
        </div>
    </section>
