<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">
                        Our Mission is to support and promote individual creativity through the power of community connections, workshops, equipment, and a comfortable working environment.
                        <br/><br/>
                        To meet this mission we offer:
                        <br/><br/>
                        <ul>
                            <li>Shared tools in the areas of woodworking, 3d printing, precision machining, laser cutting, fiber arts, and more.</li>
                            <li>Publicly available classes, workshops, and labs that introduce people to new forms of creative and inventive methods.</li>
                            <li>Affordable monthly memberships that allow users to gain new skills on complex equipment that they might not otherwise be able to access.</li>
                            <li>Space and rentals to monthly members so they can store their tools, projects and materials.</li>
                            <li>The promotion and hosting of events related to our mission.</li>
                        </ul>
                        <b>We are a 100% volunteer run organization with no paid staff.</b>
                    </h3>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Makerspaces</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A Makerspace is a community run space where people can gather to create, collaborate and learn.  The Staunton Makerspace has grown to support collaboration across boundaires of science and art, technlogy and craft, to invent novel objects and works of art.  Check out our <a href="https://github.com/stauntonmakerspace/wikiProject/wiki">Equipment Wiki</a> for more information about our tools, keeping in mind that we are still in the process of recovering our equipment from our fire.  The Makerspace is now located at 17 N. Central Avenue in lovely downtown Staunton, Virginia.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Hours / Location</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        We are currently located at 17 N Central Avenue in Staunton, Virginia.
                                        We are actively renovating and moving to a new 6,000 square foot facility at
                                        20 S Jefferson street.</p>
                                    <p class="text-muted">
                                        If you would like a guided tour of our current facility, please contact us at
                                        support@stauntonmakerspace.com.</p>
                                    <p class="text-muted">
                                        If you would like to meet some of our members, and check out our new space,
                                        we meet at 7pm every Tuesday night at 20 S. Jefferson Street, our new
                                        headquarters and future Makerspace.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Prices</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">You can become a member for as little as $50 per month, with no long term obligation. We have a variety of levels of membership to meet a variety of needs and interests.  Please check out our <a href="#join">Membership Levels / Price List</a> for more information.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                </div>
            </div>
        </div>
    </section>
