<!-- Services Section -->
    <section id="calendar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Calendar</h2>
                    <h3 class="section-subheading text-muted">In the future members will be able to reserve equipment for specific time periods, and see if equipment is reserved for a given time period.  It will work something like this ...</h3>
                </div>
                <!-- Calendar Selection -->
                <div>
                	<select id=calendarChoice onchange="showCalendar()">
  						<option selected value="blank">Select a Calendar</option>
  						<option value="makerbot">3D Printer</option>
  						<option value="sewing">Sewing Machine</option>
					</select>
            	</div>
            	
            	<!-- Google Calendar -->
      			<div id="googleCalendar">
      			</div>        
        </div>
    </section>
