<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading-negative">If you would like to learn more about the Staunton Makerspace, are interested in becoming a member, or would like to connect with our makers, please contact us at <a href="mailto:support@stauntonmakerspace.com">support @ stauntonmakerspace . com</a></h3>
		    <h3 class="section-heading">Email:  <a href="mailto:support@stauntonmakerspace.com">Support @ StauntonMakerspace . com</a></h3>
                </div>

           </div>
        </div>
    </section>
