<!-- Contribute Section -->
<section id="contribute">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contribute</h2>
	<h3 class="section-subheading text-muted">
	  Thank you for your interest in donating to the Staunton Makerspace. We are honored and humbled.
      You can use the form below to make a direct donation to the Staunton Makerspace.  If you want to make a larger
      tax-deductible donation, we can now accept those through the Community Foundation of the Blue Ridge.
      Please contact us at <a href="mailto:support@stauntonmakerspace.com">support@stauntonmakerspace.com</a> to learn more.
    </h3>
    </div>

    <div class="container">
      <div class="col-md-3">
	
	<form class="paypal_slim" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <p>$25</p>
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="WAS9XGMFDEZKU">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif"  name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt=""  src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
      <div class="col-md-3">      
        <form class="paypal_slim" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">	  
          <p>$50</p>
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="FF6VRVV8AJKSN">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt=""  src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
      </div>
      <div class="col-md-3">      
        <form class="paypal_slim" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <p>$100</p>
            <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="6GD9FYU9ADH4W">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif"  name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt=""  src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
      </div>
      <div class="col-md-3">      
        <form class="paypal_slim" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <p>You choose the amount:</p>
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="YBQ2YB68667JU">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif"  name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt=""  src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
    </div>
  </div>
</section>
