<!-- Electronics Section -->
<section id="electronics">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Electronics</h2>
	<h3 class="section-subheading text-muted">
    <br><b>Please note we are in the process of recovering our equipment from the fire and we are pleasantly surprised to find that more has survived than we initially expected! We will update the Wiki when we have a better understanding of what we have post-fire, but you can read below to get a sense of what we had:</b>
    <br>
    <br>We have two 3D printers (a Makerbot Replicator 2, and a Ultimaker 2), a desktop CNC router (Shapeoko 2), a well appointed electronics workbench, IRIS quadcopter, several laptops and desktops, a midi music center, and (our current pride and joy) a 100 watt Lasersaur laser cutter that will just blow you away. (Special thanks to Ashby Wratchford for another excellent video).  There is a more complete listing of our equipment available on our <a href="https://github.com/stauntonmakerspace/wikiProject/wiki">Wiki</a>. </h3>
      </div>
    </div>
    <div align="center" class="embed-responsive embed-responsive-16by9">
      <video class="embed-responsive-item" controls>
        <source src="img/electronics.mp4" type="video/mp4">
          <source src="img/electronics.ogv" type="video/ogg">
      </video>
      <p>
    </div>
  </div>
</section>
