<!-- Woodworking Section -->
<section id="electronics">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Electronics</h2>
	<h3 class="section-subheading text-muted">
	 We have two 3D printers (a Makerbot Replicator 2, and a Ultimaker 2), a desktop CNC router (Shapeoko 2), a well appointed electronics workbench, IRIS quadcopter, several laptops and desktops, a midi music center, and a Lasersaur laser cutter is on it's way (Special thanks to Ashby Wratchford for another excellent video). </h3>
      </div>
    </div>
    <div align="center" class="embed-responsive embed-responsive-16by9">
      <video class="embed-responsive-item" controls>
        <source src="img/electronics.mp4" type="video/mp4">
          <source src="img/electronics.ogv" type="video/ogg">
      </video>
      <p>
    </div>
  </div>
</section>
