<!-- Event Section -->
<section id="events" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Upcoming Events</h2>
      </div>
    </div>
    <div class="row flex-cols">
      {% assign curDate = site.time | date: '%s' %}
      {% for event in site.data.events %}
        {% assign eventStartDate = event.date | date: '%s' %}
        {% if eventStartDate >= curDate %}
          <div class="col-sm-6">
            <div class="team-member">
              <a href="{{event.href}}">
    	           <img src="img/events/{{ event.pic }}.jpg" class="img-responsive img-circle" alt="">
                 <h4>{{ event.name }}</h4>
    	        </a>
    	        <h4>{{ event.classtime }}</h4>
    	        <p class="text-muted">{{ event.desc }}</p>
              <a href="{{event.href}}">
    	        <em>{{ event.price }}</em>
              </a>
    	       </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <div>
          <iframe src="https://calendar.google.com/calendar/embed?showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=03pvma0ukuk1a5gum6escq2d2k%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=America%2FNew_York" style="border-width:0" width="100%" height="300" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
