<!-- Event Section -->
<section id="events" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Upcoming Events</h2>
      </div>
    </div>
    <div class="row flex-cols">
      {% assign curDate = site.time | date: '%s' %}
      {% for event in site.data.events %}
        {% assign eventStartDate = event.date | date: '%s' %}
        {% if eventStartDate >= curDate %}
          <div class="col-sm-6">
            <div class="team-member">
              <a href="{{event.href}}">
    	           <img src="img/events/{{ event.pic }}.jpg" class="img-responsive img-circle" alt="">
                 <h4>{{ event.name }}</h4>
    	        </a>
    	        <h4>{{ event.classtime }}</h4>
    	        <p class="text-muted">{{ event.desc }}</p>
              <a href="{{event.href}}">
    	        <em>{{ event.price }}</em>
              </a>
    	       </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
