<!-- Woodworking Section -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">From the ashes, we take flight</h2>
	      <h3 class="section-subheading text-muted">
	        <br>On February 28th, a fire swept through the Staunton Makerspace.  It’s the day we thought we lost almost all our equipment, and also the day that we learned our most important lesson.
          <br>
          <br><i><b>A Makerspace is neither a space, nor a collection of tools. It is a movement, and it is made of the most extraordinary of makers.</b></i>
          <br>
          <br>We are watching, with awe, a mass mobilization. Mechanics, musicians, writers, developers, artists, inventors, programmers and more are rebuilding.
          <br>
          <br>As we move forward, we do so with one clear commitment:  Our rebuild will be maker-driven and community-inspired. It will move at the speed of volunteers, supporters, and friends. We will remember to enjoy the journey of making our new home, with all of the creativity, play, and ingenuity that entails. We are already being surprised by how much we are saving, accomplishing, and learning. We are building back better, because we are building back together.
          <br>
          <br>All we lost was stuff.  Our makers are everything.
      </div>
    </div>
  </div>
</section>
