<!-- Intro Section -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Welcome to the Staunton Makerspace!</h2>
        <h3 class="section-subheading text-muted">
          <br>
          We are a non-profit community made up of artists, craftsman, and entrepreneurs located in Staunton,
          Virginia.   Our goal is to empower individuals in their efforts to build, create, and invent by providing
          tools, training, and an open accessible workspace.
          <br>
          <br><i><b>A Makerspace is neither a space, nor a collection of tools. It is a movement, and it is made of the most extraordinary of makers.</b></i>
          <br/>
          <br>Here are few things you might want to know:<br>
          <br/>
          <ul>
            <li>You can check out or <a href="http://maker.stauntonmakerspace.com/">Blog</a> for new updates and information.  Things are always changing here.</li>
            <li>We are running an <a href="https://goo.gl/forms/KZvUtrl6sKQljdmX2">exceedingly brief survey</a> to learn more about the tools and skills people in our community
              want out of their local makerspace.
            </li>
          </ul>
        </h3>
      </div>
      <a href="#events" class="page-scroll btn btn-xl">So What's Happening Now?</a>
    </div>
  </div>
</section>
