<!-- Services Section -->
<section id="join">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">Join Us</h2>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">

                <h3 class="section-subheading text-muted">
                    Our members have access to an ever growing collection of equipment, and more importantly, to an ever
                    growing
                    community of makers and doers willing to share their knowledge and enthusiasm about what they love.
                    <br/><br/>
                    Membership grants users 24/7 access to our makerspace.
                    <br/><br/>
                    <b>How to Join:</b>
                    <ol>
                        <li>Contact <a href="mailto:support@stauntonmakerspace.com">support@stauntonmakerspace.com</a>
                            to schedule a tour.</li>
                        <li>Review our Membership Agreement, and our Policies and Procedures.</li>
                        <li>Get tested on the tools you want to use. All members must be certified on the tools they
                            wish to use independently.
                        </li>
                        <li>Set up payments using the form below.</li>
                    </ol>
                </h3>
            </div>
            <div class="col-md-6">

	      <form class="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="SL44L7QPZZJDG">
		<input type="hidden" name="on0" value="Monthy Membership">Monthy Membership</input>
		      <select name="os0">
			<option value="Member">Member : $50.00 USD - monthly</option>
			<option value="Family">Family : $65.00 USD - monthly</option>
			<option value="Supporter">Supporter : $25.00 USD - monthly</option>
		  </select> 
		<input type="hidden" name="currency_code" value="USD">
		<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
	      </form>
	      
	      
              <form class="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="BF59FSAKJQ6DC">
                <input type="hidden" name="on0" value="Yearly Membership">Yearly Membership (10% Discount) </input>
                <select name="os0">
                  <option value="Member">Member : $540.00 USD - yearly</option>
                  <option value="Family">Family : $702.00 USD - yearly</option>
                </select>
                <input type="hidden" name="currency_code" value="USD">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif"
                       border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
                     height="1">
              </form>
            </div>

        <div class="row">
            <div class="col-lg-12">

                <h3>Makerspace Membership Levels</h3>

                <table class="membership">
                    <tbody>
                    <tr>
                        <th>Level</th>
                        <th>Description</th>
                        <th>Price per Month</th>
                    </tr>
                    <tr>
                        <td>Member</td>
                        <td>24/7 Access.</td>
                        <td>$50</td>
                    </tr>
                    <tr>
                        <td>Family</td>
                        <td>24/7 Access. Couples must train together.</td>
                        <td>$65</td>
                    </tr>
                    </tbody>
                </table>
                <h3>Supporter</h3>
                <p>There are many struggling entrepreneurs and artists that would like to be members of the makerspace,
                    and would use it to start new businesses and create novel works of art. Supporting memberships are
                    used to allow these
                    folks to join the Makerspace. If you would like to learn more about how your money could help fund
                    these members please get in contact with us, and sign up as a Sponsor!</p>
                <p> In addition to giving people a means to shape their world, you would also join our members only
                    mailing list.  Sponsors also receive invitations to events. You can
                    set up a subscription as a supporter for as little as $25 a month. Supporters are always welcome to
                    drop by and learn more about current projects and crazy ideas.</p>

                <h3>Co-Working Membership Levels</h3>
                <p>We no longer manage the co-working space, but membership is still available through <a href="https://vohtr.com/">Vohtr.</a>
                    Please contact them directly for assistence.
            </div>
            <!-- Calendar Selection -->
            <div>
            </div>

        </div>
        <div class="row">

          <div class="col-md-6">
            <h3>Personal Space</h3>	    
            <h3 class="section-subheading text-muted">
	      Some members may require additional storage space for ongoing project materials and personal equipement.
	      Space is very limited, so please get in contact with a council member or guild rep prior to signing up
	      for space.  Once you are clear to claim an area for personal use, you can set up payments for that space below.
	    </h3>

	    <form class="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	      <input type="hidden" name="cmd" value="_s-xclick">
	      <input type="hidden" name="hosted_button_id" value="NE768T9EU8BBY">
	      <input type="hidden" name="on0" value="Floor Space">Floor Space</input>
	      <select name="os0">
		      <option value="Project Cart (2x2)">Project Cart (2x2) : $16.00 USD - monthly</option>
		      <option value="Work Table (2x4)">Work Table (2x4) : $32.00 USD - monthly</option>
		      <option value="Loft Cubby (3x4)">Loft Cubby (3x4) : $12.00 USD - monthly</option>
		      <option value="Loft Area (6x6)">Loft Area (6x6) : $48.00 USD - monthly</option>
	      </select>
	      <input type="hidden" name="currency_code" value="USD">
	      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
	    </form>
	    
	    
          </div>
	</div>
	

</section>
