<!-- Woodworking Section -->
<section id="woodworking">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Woodworking</h2>
	<h3 class="section-subheading text-muted">
	  Thanks to the tremendous contribution of time and effort from Rick Hubbard, we now have a fully fleshed woodworking shop including several router tables, and Grizzly bandsaw, a series of sanders, several Compound Miter Saws, Drill presses, tables saw, Curcular saws, oscillating sanders, planers, various hand held routers, nail guns, jig saws, flush cut saws, air compressors and a dust collection system to keep it all in check.   And thanks to Ashby Wratchford for the video!  There is a more complete listing of our equipment available on our <a href="https://github.com/stauntonmakerspace/wikiProject/wiki">Wiki</a>.</h3>
      </div>
    </div>
    <div align="center" class="embed-responsive embed-responsive-4by3">
      <video class="embed-responsive-item" controls>
        <source src="img/woodworking_sms.mp4" type="video/mp4">
          <source src="img/woodworking_sms.ogv" type="video/ogg">
      </video>
      <p>
    </div>
  </div>
</section>
