<!DOCTYPE html>
<html>

  	{% include head.html %}

    <body id="page-top" class="index">

    {% include header.html %}
    {% include intro.html %}
    {% include events.html %}
    {% include woodworking.html %}
    {% include electronics.html %}
    {% include about.html %}
    {% include join.html %}
    {% include mailing_list.html %}
    {% include contribute.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>
